/*LITEN skärm*/
@media only screen and (max-width: 540px) {

  body {
    padding: 2rem;
  }

  header a {
    text-decoration: overline;
    color: rgba(0, 0, 0, 0.88);
  }
  
  header a h1{
    margin-top: 0;
    letter-spacing: 0.05em;
  }
  
  a {
    text-decoration: none;
  }

  #menu {
    display: none;
    text-align: center;
  }
  
  
  #menu li a {
    text-decoration: none;
    color: rgb(47, 15, 77);
    font-size: 1.2rem;
    margin: 1em;
  }

  .anställd img {
    width: 50vw;
    display: inline;
    justify-content: center;
    min-width: 370px;
  }
  
  .anställd img:hover {
    border: 0 2em 0 2em;
    border-style: outset;
  }
  
  
  .anställd {
    margin-bottom: 1rem;
    width: 50vw;
  }
  
  .anställd p {
    padding-bottom: 2em;
    border-bottom: #C2E5F2 dashed;
    width: 100vw;
  }
  
  .container-anstallda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  h1,
  #kontakten {
    text-align: center;
  }

  #menu-toggle:checked~#menu {
    display: block;
  }

  #menuIcon {
    align-self: right;
  }

  #menu li {
    display: block;
  }

  #menu-toggle {
    display: none;
  }


  .ekonomiskt{
    display: block;
  }

  #produkter {
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  #produkter img,
  #produkter p {
    color: rgba(0, 0, 0, 0.846);
    flex-direction: row;
    max-width: 80vw;
  }
  
  #produkter button {
    background-color: aliceblue;
    border: 1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }


}

/*STOR skärm*/
@media only screen and (min-width: 541px) {
  #menu-toggle {
    display: none;
  }

  #menuIcon {
    display: none;
  }

  #menu li {
    display: inline;
  }





/*BODY*/
body {
  padding: 2.5rem;
}

a {
  text-decoration: none;
}


/*HEADER*/


header a {
  text-decoration: overline;
  color: rgba(0, 0, 0, 0.88);
}

header a h1{
  margin-top: 0;
  letter-spacing: 0.05em;
}

/*NAV*/

#menu {
  text-align: center;
}


#menu li a {
  text-decoration: none;
  color: rgb(47, 15, 77);
  font-size: 1.2rem;
  margin: 1em;
}



/*OM OSS*/

.anställd img {
  width: 50vw;
  display: inline;
  justify-content: center;
  min-width: 370px;
}

.anställd img:hover {
  border: 0 2em 0 2em;
  border-style: outset;
}


.anställd {
  margin-bottom: 1rem;
  width: 50vw;
}

.anställd p {
  padding-bottom: 2em;
  border-bottom: #C2E5F2 dashed;
  width: 100vw;
}

.container-anstallda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
#kontakten {
  text-align: center;
}

/*GALLERI*/


/*OBS får ej ett block med bild+beskrivning+pris+knapp att stanna vid en viss minimal bredd. nu kan de bli jättesmå...*/

#produkter {
  display: flex;
  gap: 1.3em;
  flex-wrap: wrap;
  justify-content: center;
}


#produkter img,
#produkter p {
  color: rgba(0, 0, 0, 0.846);
  flex-direction: row;
  max-width: 30vw;
}

#produkter button {
  background-color: aliceblue;
  border: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
}

